*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightskyblue;
    height: 100vh;
    
}
#container button{
    margin: 5px 5px;
    padding: 10px;
    border-radius: 10px;
}